@model FunCloud.Find.FindPublicModel

@using FunCloud.Helpers

@using DataBaseConnector.Ext

@{
    ViewBag.Title = "Поиск заявок";
    int UserID = this.ViewBag.UserID;
    int UserRole = this.ViewBag.UserRole;
}

<h2 class="mb-4">Поиск заявок</h2>

<div class="card pb-3">

    <div class="btn-group d-inline-block p-1 m-0 mb-2 w-100 bg-red br-tl br-tr o-dashed" role="toolbar">
        @using (Html.BeginForm("Find", "Request", FormMethod.Post))
        {
            <div class="row">
                <div class="col">
                    <div class="btn-group d-inline-flex p-1 m-0 w-100 bg-red" role="toolbar">
                        <input type="text" class="form-control m-0" id="Text" name="Text" aria-describedby="nameText" value="@Model.Text">
                        <button class="@Buttons.Red m-0" type="submit" style="max-width: 42px;"><i class="fas fa-search"></i></button>
                        <button class="@Buttons.Red m-0" type="button" style="max-width: 42px;" data-toggle="collapse" data-target="#FindBar" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fas fa-bars"></i></button>
                    </div>
                    <div class="collapse multi-collapse" id="FindBar">
                        <div class="card-body">

                            <div class="form-group">
                                <h5 class="card-title">Автор:</h5>
                                <input type="text" class="form-control" id="AuthorName" name="AuthorName" aria-describedby="nameAuthor" data-toggle="dropdown" autocomplete="off">
                                @Html.Hidden("Author", Model.Author.ToString())
                                <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-left" id="AuthorDropDown" aria-labelledby="AuthorName">
                                    <button class="dropdown-item bg-red-hover" type="button" onclick="set('Author', -1, this)">Без автора</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Категория:</h5>
                                @Html.DropDownList("Category", ViewBag.Categories as SelectList, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <h5 class="card-title">Фэндом:</h5>
                                @Html.DropDownList("Fandome", ViewBag.Fandomes as SelectList, new { @class = "form-control" })
                            </div>

                            @Html.Hidden("Page", Model.Page)

                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

    <div class="form-horizontal position-relative">

        @if (ViewBag.Items.Count > 0)
        {
            foreach (FunCloud.View.RequestView Item in this.ViewBag.Items)
            {
                <div class="card col border-bottom" style="min-width: 24rem; margin: 0 12px 12px 0;">
                    <div class="card-body">
                        <h3 class="card-title">@Html.ActionLink(@Item.Title, "View", "Request", new { id = Item.ID }, null)</h3>
                        <h6 class="card-subtitle mb-2 text-muted">Автор: @Html.ActionLink(@Item.Author.Name, "View", "Profile", new { id = Item.Author.Value }, null)</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Категория: @Html.ActionLink(@Item.Category.Name, "Find", "Request", new { category = Item.Category.Value }, null)</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Фэндом: @Html.ActionLink(@Item.Fandome.Name, "Find", "Request", new { fandome = Item.Fandome.Value }, null)</h6>
                        <p class="card-text">@Item.Description</p>
                    </div>
                    @if (UserID > -1)
                    {
                        <div class="btn-group d-inline-block p-2 m-2 w-100" role="toolbar">

                            @if (Item.Author.Value == UserID || UserRole == Global.AdminRoleID)
                            {
                                @Html.CreateButton("Работы по заявке", $"/Work/Find?request={Item.ID}", Buttons.Default + " m-0")
                                @Html.CreateButton("<i class='fas fa-feather-alt'></i>", $"/Work/Public?Request={Item.ID}", Buttons.Default + " m-0")
                                @Html.CreateButton("<i class='far fa-edit'></i>", $"/Request/Edit/{Item.ID}", Buttons.Default + " m-0")
                                @Html.CreateButton("<i class='far fa-trash-alt'></i>", $"javascript:post('/Request/Remove/',{Item.ID})", Buttons.Default + " m-0")
                            }
                            else
                            {
                                @Html.CreateButton("Работы по заявке", $"/Work/Find?request={Item.ID}", Buttons.Default + " m-0")
                                @Html.CreateButton("<i class='fas fa-feather-alt'></i>", $"/Work/Public?Request={Item.ID}", Buttons.Default + " m-0")
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>

    @{ Html.RenderPartial("_Pagination"); }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $("#AuthorName").keyup(
        function () {
            FindValue("/Work/FindValue", $(this).val(), 0, "#AuthorDropDown", "Author", "Без автора");
        }
    );

    $("#RequestName").keyup(
        function () {
            FindValue("/Work/FindValue", $(this).val(), 1, "#RequestDropDown", "Request", "Без запроса");
        }
    );

</script>