<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FunCloud Project</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")

    @Scripts.Render("~/bundles/modernizr")
    <script src="https://unpkg.com/popper.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customJS")

</head>
<body class="bg-1">
    @{ Html.RenderPartial("_MainMenu"); }
    <div class="container body-content" style="padding-top: 24px;">
        <div id="msg">
            
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FunCloud Project</p>
            <p>Права на все произведения, опубликованные на сайте, принадлежат авторам произведений. Администрация не несет ответственности за содержание работ.</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
