@model FunCloud.Models.PublicModel.AdminPanel.Table<FunCloud.Models.DataBase.State>

@using FunCloud.Helpers

@{
    ViewBag.Title = "Управление состояниями";
}

<h2 class="mb-4">Управление состояниями</h2>

<div class="form-horizontal position-relative ">
    <div class="card w-100 d-flex flex-wrap" style="margin: 0 0 12px 0;">

        @{ Html.RenderPartial("_AdminMenu"); }

        <div class="card p-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <table>
                    <tbody>
                        <tr>
                            <th>ИД</th>
                            <th>Название</th>
                        </tr>

                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            <tr>
                                <td>
                                    <p>@Model.Items[i].ID.Value</p>
                                </td>
                                <td>
                                    <div class="btn-group pl-0 pr-0">
                                        <input type="text" class="form-control" id="Title_@i" aria-describedby="nameHelp" value="@Model.Items[i].Title.Value">
                                        @Html.CreateButton("<i class='far fa-save'></i>", $"javascript:post_data('/AdminPanel/States/', {Model.Items[i].ID.Value}, 'Title_{i}')", Buttons.Default + " m-0")
                                        @Html.CreateButton("<i class='far fa-trash-alt'></i>", $"javascript:post_data('/AdminPanel/States/',{Model.Items[i].ID.Value}, 0)", Buttons.Default + " m-0")
                                    </div>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td>
                                <p>Новый</p>
                            </td>
                            <td>
                                <div class="btn-group pl-0 pr-0">
                                    <input type="text" class="form-control" id="Title_new" aria-describedby="nameHelp">
                                    @Html.CreateButton("<i class='fas fa-plus'></i>", $"javascript:post_data('/AdminPanel/States/', -1, 'Title_new')", Buttons.Default + " m-0")
                                </div>

                            </td>
                        </tr>

                    </tbody>
                </table>

            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
